/* Resetando margens e preenchimentos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo da página */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    color: #333;
}

/* Cabeçalho */
header {
    background-color: #ff6347; /* Cor de fundo da pizzaria */
    text-align: center;
    padding: 20px;
}

header .logo img {
    width: 500px;
    height: auto;
}

h1 {
    color: white;
    font-size: 2.5em;
    margin-top: 10px;
}

/* Estilo para o Cardápio */
.cardapio {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 20px;
}

.pizza-item {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.pizza-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
}

h2 {
    font-size: 1.8em;
    color: #ff6347;
    margin-bottom: 10px;
}

.descricao {
    font-size: 1.1em;
    color: #666;
    margin-bottom: 10px;
}

.preco {
    font-size: 1.5em;
    font-weight: bold;
    color: #ff6347;
    margin-bottom: 20px;
}

button {
    background-color: #ff6347; /* Cor do botão */
    color: white;
    border: none;
    padding: 12px;
    font-size: 1.1em;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
}

button:hover {
    background-color: #e5533b; /* Cor de hover do botão */
}

/* Rodapé */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 40px;
}
