/* Resetando margens e preenchimentos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo da página */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    color: #333;
}

/* Cabeçalho */
header {
    background-color: #ff6347; /* Cor de fundo da pizzaria */
    text-align: center;
    padding: 20px;
}

header .logo img {
    width: 500px;
    height: auto;
}

h1 {
    color: white;
    font-size: 2.5em;
    margin-top: 10px;
}

/* Formulário */
.form-container {
    background-color: #ffffff;
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 1.1em;
    margin-bottom: 5px;
    color: #555;
}

input, select, textarea {
    font-size: 1em;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
}

button {
    background-color: #ff6347; /* Cor do botão */
    color: white;
    border: none;
    padding: 12px;
    font-size: 1.1em;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #e5533b; /* Cor de hover do botão */
}

/* Rodapé */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 40px;
}
